/* GENERALS */

li {
	text-decoration: none;
}

ul {
	list-style-type: none;
}

body {
	font-family: 'Roboto', sans-serif;
}

.wave {
	opacity: 20%;
	margin-bottom: -4px;
}

.wave-reverse {
	opacity: 20%;
	margin-bottom: -4px;
	transform: rotate(180deg);
}

/* HEADER */

header {
	color: #fff;
}

.header-head {
	display: flex;
	align-items: center;
	min-height: 80px;
	padding: 15px 0;
	background-color: #265ee8;


	/* debug */
	/* background-color: lightblue; */
}

.header-nav {
	display: flex;
	flex-grow: 1;
	line-height: 30px;
	padding: 0 3rem;
}

.header-links>.nav {
	display: flex;
	justify-content: center;
	align-items: center;
}

.header-links>.nav>li {
	padding: 0 1rem;
}



.button {

	border: 1px;
	display: inline;
	border-radius: 23px;
	padding: 0.7rem;
	background-color: white;
	color: #292d2f;

}

.header-login>button {
	border-radius: 15px;
	padding: 5px;
}

.header-nav>* {
	flex-basis: 20%;
	padding: 5px 10px;

	/* debug */
	/* background-color: goldenrod;
	border: 2px dashed black; */
}

.header-links {
	flex-grow: 1;
	text-align: center;
}

.header-login {
	text-align: right;
}

/* JUMBOTRON */

.jumbotron {
	padding: 50px 0;
	display: flex;
	justify-content: center;
	background-image: url(../img/jumbo.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;


	/* debug */
	/* background-color: darkblue;*/
}

.jumbotron .content {
	min-height: 400px;
	width: 50%;

	/* debug */
	/* background-color: #ee82ee;
	border: 2px dashed black; */
}

.bg-over {
	background-color: #265ee8;
}

h1 {
	font-size: 60px;
	text-align: center;
	font-weight: 600;
	margin-bottom: 2rem;
}

.container-flex {
	display: flex;
	justify-content: center;
	gap: 25px;
}

.content>p {
	text-align: center;
	font-size: 18px;
	line-height: 25px;
	margin-bottom: 2rem;
}

.down-mac {
	border: 1px;
	background-color: #fff;
	color: #212528;
	border-radius: 30px;
	padding: 1rem;
	font-size: 18px;
}

.open-browser {
	border: 1px;
	background-color: #212528;
	color: #fff;
	border-radius: 30px;
	padding: 1rem;
	font-size: 18px;
}

.hilighted-button-download {

	border: 1px;
	border-radius: 23px;
	padding: 0.7rem;
	background-color: #8fa1e1;
	color: #fff;
	border: none;
	align-self: center;
	font-size: 18px;
	margin-bottom: 3rem;

}

/* MAIN & SECTIONS */

.side-col>h2 {
	font-size: 55px;
	text-align: left;
	font-weight: 600;
	margin-bottom: 2rem;
}

.side-col>p {
	font-size: 18px;
	line-height: 25px;
}

main>section {
	padding: 50px 0;
}

.main-col>img {
	width: 100%;
}

main>section>.container {
	display: flex;

	/* debug */
	/* min-height: 500px; */
}

.bg-white {
	background-color: white;
}

.bg-gray {
	background-color: rgba(0, 0, 0, 20%);
}

.main-col {
	min-width: calc(100% / 3 * 2);

	/* debug */
	/* background-color: cornflowerblue;
	border: 2px dashed black; */
}

.side-col {
	min-width: calc(100% / 3);

	/* debug */
	/* background-color: pink;
	border: 2px dashed black; */
}

.hilighted-content {
	flex-grow: 1;
	display: flex;
	flex-direction: column;

	/* debug */
	/* min-height: 800px;
	background-color: forestgreen;
	border: 2px dashed black; */
}

.hilighted-content>h2 {
	font-size: 55px;
	text-align: center;
	font-weight: 600;
	margin-bottom: 2rem;
}

.hilighted-content>p {
	font-size: 18px;
	line-height: 25px;
	text-align: center;
	padding: 0 50px;
}

.hilighted-content>img {
	text-align: center;
}

.hilighted-content>h3 {
	font-size: 28px;
	font-weight: 600;
	padding: 2rem;
	text-align: center;
	background-image: url(../img/stars.svg);
	background-position: top;
	background-repeat: no-repeat;
}


/* FOOTER */

.footer-main {
	padding-top: 10px;
	background-color: #23272a;
}

.footer-main-col>h2 {
	font-size: 40px;
	font-weight: 600;
	color: #7389da;
	padding: 1rem 2rem;
}

.container-language>img {
	height: 18px;
}

.container-language {
	text-align: left;
	padding: 1rem 2rem;
}

.language {
	display: inline-block;
	font-size: 18px;
	color: #fff;
}

.social {
	padding: .5rem 2rem;
	font-size: 25px;
	color: #fff;
	letter-spacing: .7rem;
}

.footer-upper {
	display: flex;
	padding-bottom: 50px;
	margin-bottom: 50px;
	border-bottom: 2px solid purple;

	/* debug */
	/* min-height: 500px; */
}

.footer-main-col {
	width: calc(100% / 3);

	/* debug */
	/* background-color: #f08080;
	border: 2px dashed black; */
}

.footer-side-col {
	display: flex;
	width: calc(100% / 3 * 2);

	/* debug */
	/* background-color: #20b2aa;
	border: 2px dashed black; */
}

.footer-col {
	width: 25%;

	/* debug */
	/* background-color: #20b2aa;
	border: 2px dashed white; */
}

.footer-col>ul {
	font-size: 18px;
	line-height: 35px;
	text-align: left;
	font-weight: 600;
	padding: 1rem 2rem;
	color: #fff;
}

.footer-col>ul>h3 {
	color: #7389da;
}

.footer-bottom {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 80px;

	/* debug */
	/* background-color: #7fffd4; */
}

.footer-bottom>* {
	padding: 5px 10px;


	/* debug */
	/* background-color: #ffb6c1;
	border: 2px dashed black; */
}